:root {
    --CaféDoPorto-1: #001C01;
    --CaféDoPorto-2: #357758;
    --CaféDoPorto-3: #E8E2C2;
    --CaféDoPorto-4: #E38B39;
    --CaféDoPorto-5: #3F0300;

    --CaféDoPorto-bg: #36524D;
}

body {
    background-color: var(--CaféDoPorto-bg) !important;
    font-family: 'Montserrat' !important;
}

a {
    text-decoration: none !important;
}

/* HEADER */
@media (max-width: 992px) {
    header#headerPag>section#navBnt{
        display: none !important;
    }
    nav#navHeader {
     padding: 0 !important;
     margin-bottom: 50px !important;
     flex-direction: column !important;
     align-items: flex-start !important;
    }
    header{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    header#headerPag{
        gap: 20px !important;
        justify-content: flex-start !important;
    }
}

header#headerPag {
    background-color: var(--CaféDoPorto-3);
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 50px; */
}

nav#navHeader {
    min-width: 355px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px;
    gap: 20px;
    font-size: 16px;
}

div.offcanvas-body {
    background-color: var(--CaféDoPorto-3);
}
div.offcanvas-header {
    background-color: var(--CaféDoPorto-2);
    color: white;
}
div#navbarResp{
 width: 350px;
}

header#headerPag>section#navBnt {
    min-height: 55px;
    min-width: 355px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
    justify-content: flex-end;
}

#logoHeader {
    width: 200px;
}

/* BANNER */
.bannerComprido {
    display: flex;
    min-height: 250px;
    column-gap: 15px;
    align-items: center;
}

#bannerLocal.bannerComprido {
    background-color: var(--CaféDoPorto-5);
    color: white;
}
#bannerLocal.bannerComprido>section {
    padding:  20px;     
}
#bannerLocal.bannerComprido>img {
    width: auto;
    height: 250px;
    border-radius: 0 150px 0 0;
}

@media (max-width: 1200px){
    #bannerLocal.bannerComprido>img {
        width: 100%;
        height: auto;
        border-radius: 0 150px 0 0;
    }
    .bannerComprido {
        border-radius: 0 150px 0 0;
    }
}



/* RODAPÉ */
footer {
    min-height: 250px;
    background-color: var(--CaféDoPorto-1);
    padding: 50px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}