@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --CaféDoPorto-1: #001C01;
    --CaféDoPorto-2: #357758;
    --CaféDoPorto-3: #E8E2C2;
    --CaféDoPorto-4: #E38B39;
    --CaféDoPorto-5: #3F0300;
    --CaféDoPorto-bg: #36524D;

}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    background-color: var(--CaféDoPorto-bg) !important;
    font-family: 'Montserrat' !important;
}

a {
    text-decoration: none !important;
}

/* HEADER */
@media (max-width: 992px) {
    header#headerPag>section#navBnt {
        display: none !important;
    }

    nav#navHeader {
        padding: 0 !important;
        margin-bottom: 50px !important;
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    header {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    header#headerPag {
        gap: 20px !important;
        justify-content: flex-start !important;
    }
}

header#headerPag {
    background-color: var(--CaféDoPorto-3);
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 50px; */
}

nav#navHeader {
    min-width: 355px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px;
    gap: 20px;
    font-size: 16px;
}

div.offcanvas-body {
    background-color: var(--CaféDoPorto-3);
}

div.offcanvas-header {
    background-color: var(--CaféDoPorto-2);
    color: white;
}

div#navbarResp {
    width: 350px;
}

header#headerPag>section#navBnt {
    min-height: 55px;
    min-width: 355px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
    justify-content: flex-end;
}

#logoHeader {
    width: 200px;
}

/* BANNER */
.bannerComprido {
    display: flex;
    min-height: 250px;
    column-gap: 15px;
    align-items: center;
}

#bannerLocal.bannerComprido {
    background-color: var(--CaféDoPorto-5);
    color: white;
}

#bannerLocal.bannerComprido>section {
    padding: 20px;
    text-align: justify;
}

#bannerLocal.bannerComprido>img {
    width: auto;
    height: 250px;
    border-radius: 0 150px 0 0;
}

@media (max-width: 1200px) {
    #bannerLocal.bannerComprido>img {
        width: 100%;
        height: auto;
        border-radius: 0;
    }


}

/* PAGINA SOBRE */
.bannerSobre {
    display: flex;
    min-height: 200px;
    flex-direction: row;
    column-gap: 90px;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    font-size: 0.9rem;

}

.bannerSobre>img {
    width: 500px;
    height: 200px;
    border-radius: 0px 100px 0px 0px
}

#bannerSobre.bannerSobre {
    background-color: var(--CaféDoPorto-5);
    padding: 0px 120px 0px 0px;
    color: white;
}

#bannerHistoria.bannerSobre {
    flex-direction: row-reverse;
    padding: 0px 0px 0px 120px;
    background-color: var(--CaféDoPorto-4);
    color: black;
}

#bannerMissao.bannerSobre {
    background-color: var(--CaféDoPorto-3);
    padding: 0px 120px 0px 0px;
    color: black;
}

#banner.bannerSobre {
    flex-direction: row-reverse;
    padding: 0px 0px 0px 120px;
    background-color: var(--CaféDoPorto-2);
    color: white;
}

#bannerHistoria.bannerSobre>img {
    transform: scaleX(-1);
}

#banner.bannerSobre>img {
    transform: scaleX(-1);
}

/* Banner Sobre resposivo */

@media (max-width: 1200px) {
    .bannerSobre {
        height: 200px;
        column-gap: 35px;
    }

    .bannerSobre>img {
        width: 450px;
        height: 200px;
    }

    #bannerSobre.bannerSobre,
    #bannerMissao.bannerSobre {
        padding: 0px 50px 0px 0px;
    }

    #bannerHistoria.bannerSobre,
    #banner.bannerSobre {
        padding: 0px 0px 0px 50px;
    }
}

@media (max-width:992px) {

    #bannerSobre.bannerSobre,
    #bannerHistoria.bannerSobre,
    #bannerMissao.bannerSobre,
    #banner.bannerSobre {
        padding: 50px;
    }
}

@media (max-width:500px) {

    #bannerSobre.bannerSobre,
    #bannerHistoria.bannerSobre,
    #bannerMissao.bannerSobre,
    #banner.bannerSobre {
        padding: 20px;
        height: 300px;

    }
}

/* PAGINA LOGIN */

/* RODAPÉ */
footer {
    min-height: 200px;
    background-color: var(--CaféDoPorto-1);
    padding: 70px;
}

@media (max-width:770px) {
    footer {
        padding: 30px 10px 20px;
        min-height: 100px;

    }

    #footer {
        padding-left: 18px;
        gap: 20px;
        font-size: 0.8rem;
    }
}


/* CARDAPIO PAGE */
div.card {
    border-radius: 0;
    min-width: 130px;
}

p.card-text {
    font-size: 12px;
}

div.cardCardapio {
    background-color: var(--CaféDoPorto-4);
}



/* CONTATO */
#formularioContato {
    background-color: var(--CaféDoPorto-2);
    min-height: 600px;
}

section#mapaContato {
    background-color: #E8E2C2 !important;
    border-radius: 200px 0 0 0;
}

#informacaoDeContato{
    background-color: var(--CaféDoPorto-4);
    height: 150px;
    padding: 20px;

    box-sizing: border-box;
}

#informacaoDeContato > section > .bi {
    font-size: 50px;
}

/* PAGINA LOGIN */

#boxLogin {
    display: flex;
    justify-content: center;
    background-image: url("../image/Background/fundoLogin.png");
    background-size: cover;
    margin: 0px;
}

#boxLogin>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3F0300;
    opacity: 90%;
    min-height: 450px;
    min-width: 450px;
    border-radius: 120px 0px 0px;
    margin: 50px;
}

/* login responsivo */

@media (max-width:550px) {
    #boxLogin{
        background-image: none;
    }

    #boxLogin>section {
        min-height: 450px;
        min-width: 350px;
        border-radius: 120px 0px 0px;
        margin: 50px;
    }
}
