<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Café do Porto</title>

    <link rel="apple-touch-icon" sizes="57x57" href="../assets/image/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/image/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/image/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/image/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/image/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/image/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/image/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/image/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/image/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/image/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/image/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/image/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/image/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <style>
        p.textBloco {
            font-size: small;
        }

        h3.tituloBloco {
            font-size: 20px;
        }

        label {
            font-size: 13px;
        }

        .BlocoCadastro{
            padding: 15px;
        }
        div.BlocoCadastro>.bi{
            font-size: 65px;
        }
    </style>

</head>

<body>
    <div class="container-lg py-3 d-flex flex-column gap-2">
        <header id="headerPag" class="navbar shadow py-0">
            <nav class="navbar navbar-expand-lg ">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" tabpaginaInicial="-1"
                    data-bs-target="#navbarResp" aria-controls="navbarResp" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabpaginaInicial="-1" id="navbarResp">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Café do Porto</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column">
                        <nav id="navHeader" class="gap-2">
                            <a class="nav-link" href="paginaInicial.html">Início</a>
                            <a class="nav-link" href="cardapio.html">Cardápio</a>
                            <a class="nav-link" href="contato.html">Contato</a>
                            <a class="nav-link" href="sobre.html">Sobre</a>
                        </nav>
                        <section id="navBnt" class="d-flex flex-column gap-2 d-lg-none">
                            <a href="login.html" type="button" class="btn btn-sm btn-outline-dark">Entrar</a>
                            <a href="cadastro.html" type="button" class="btn btn-sm btn-dark">Cadastrar</a>
                        </section>
                    </div>
            </nav>
            <section>
                <a href="#">
                    <img id="logoHeader" src="../assets/image/logoCafePorto/logoMax.png" alt="Logo Café do Porto">
                </a>
            </section>
            <section id="navBnt">
                <a href="login.html" type="button" class="btn btn-sm btn-outline-dark">Entrar</a>
                <a href="cadastro.html" type="button" class="btn btn-sm btn-dark">Cadastrar</a>
            </section>
        </header>

        <header class="d-flex justify-content-between align-content-end border-bottom pb-2 px-2">
            <h4 class="m-0 text-white">Cardápio<span id="TituloPag"></span> </h4>
            <nav class="text-white" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb m-0 text-white">
                    <li class="breadcrumb-item text-white"><a href="#" class="link-light fw-bold"><i class="bi bi-house-fill"></i></a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Cardápio</li>
                </ol>
            </nav>
        </header>
        <!-- CADASTRO -->
        <div id="boxCadastro" class="row text-light">
            <div id="ClubeCadastro" class="col-md-7 d-flex flex-column ">
                <section class="row gy-3 px-4">
                    <div id="Sorteio" class="BlocoCadastro col-12 d-flex flex-row">
                            <i class="bi bi-trophy-fill"></i>
                        <div>
                            <h3 class="tituloBloco">Participe de Sorteios</h3>
                            <p class="textBloco">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                                tristique ac nisl a pellentesque. Integer a justo eu purus consequat fermentum. </p>
                        </div>
                    </div>
                    <div id="Pontos" class="BlocoCadastro col-12 d-flex flex-row text-bg-light">
                            <i class="bi bi-award-fill"></i>
                        <div>
                            <h3 class="tituloBloco">Acumule Pontos nas Compras</h3>
                            <p class="textBloco">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                                tristique ac nisl a pellentesque. Integer a justo eu purus consequat fermentum.</p>
                        </div>
                    </div>
                    <div id="Premios" class="BlocoCadastro col-12 d-flex flex-row">
                            <i class="bi bi-cup-hot-fill"></i>
                        <div>
                            <h3 class="tituloBloco">Ganhe Premios Especias</h3>
                            <p class="textBloco">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                                tristique ac nisl a pellentesque. Integer a justo eu purus consequat fermentum.</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md" id="Cadastro">
                <h2>Cadastro</h2>
                <div class="row g-2">
                    <div class="col-6 ">
                        <label for="NomeCadastro" class="form-label form-label-sm">Nome</label>
                        <input type="text" class="form-control form-control-sm" name="NomeCadastro" id="NomeCadastro">
                    </div>
                    <div class="col-6">
                        <label for="SobreCadastro" class="form-label form-label-sm">Sobrenome</label>
                        <input type="text" class="form-control form-control-sm" name="SobreCadastro" id="SobreCadastro">
                    </div>
                    <div class="col-12">
                        <label for="EmailCadastro" class="form-label form-label-sm">E-mail</label>
                        <input type="text" class="form-control form-control-sm" name="EmailCadastro" id="EmailCadastro">
                    </div>

                    <div class="col-6">
                        <label for="DNCadastro" class="form-label form-label-sm">Nascimento</label>
                        <input type="date" class="form-control form-control-sm" name="DNCadastro" id="DNCadastro">
                    </div>
                    <div class="col-6">
                        <label for="cpfCadastro" class="form-label form-label-sm">CPF</label>
                        <input type="text" class="form-control form-control-sm" name="cpfCadastro" id="cpfCadastro">
                    </div>

                    <div class="col-6">
                        <label for="Senha" class="form-label form-label-sm">Senha</label>
                        <input type="password" class="form-control form-control-sm" name="Senha" id="Senha">
                    </div>
                    <div class="col-6">
                        <label for="ConfCadastro" class="form-label form-label-sm">Confirmar Senha</label>
                        <input type="password" class="form-control form-control-sm" name="ConfCadastro"
                            id="ConfCadastro">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 text-end">
                        <button type="button" href="view/login.html" class=" btn btn-sm btn-light">Cadastro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- RODAPÉ -->
    <footer>
        <div id="footer" class="row w-100 text-white text-center  ">
            <div class="col-md-6">
                <h5>Café do Porto</h5>
                <section>
                    <a href="" class="link-light">Início</a>
                    -
                    <a href="" class="link-light">Menu</a>
                    -
                    <a href="" class="link-light">Contato</a>
                    -
                    <a href="" class="link-light">Sobre</a>
                </section>
            </div>
            <div class="col-md-6 d-flex flex-column ">
                <b>Projeto Integrador II - Fatec tq</b>
                <i>Hugo / João / Samuel / Thais</i>
            </div>
            <div>
    </footer>

    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>