<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio | Café do Porto</title>

    <link rel="apple-touch-icon" sizes="57x57" href="../assets/image/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/image/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/image/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/image/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/image/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/image/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/image/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/image/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/image/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/image/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/image/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/image/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/image/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

</head>

<body>
    <!-- VLIBRAS -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <div class="container-lg py-3 d-flex flex-column gap-3">
        <header id="headerPag" class="navbar shadow py-0">
            <nav class="navbar navbar-expand-lg ">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" tabpaginaInicial="-1"
                    data-bs-target="#navbarResp" aria-controls="navbarResp" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabpaginaInicial="-1" id="navbarResp">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Café do Porto</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column">
                        <nav id="navHeader" class="gap-2">
                            <a class="nav-link" href="paginaInicial.html">Início</a>
                            <a class="nav-link fw-bold" href="cardapio.html">Cardápio</a>
                            <a class="nav-link" href="contato.html">Contato</a>
                            <a class="nav-link" href="sobre.html">Sobre</a>
                        </nav>
                        <section id="navBnt" class="d-flex flex-column gap-2 d-lg-none">
                            <a href="login.html" type="button" class="btn btn-sm btn-outline-dark">Entrar</a>
                            <a href="cadastro.html" type="button" class="btn btn-sm btn-dark">Cadastrar</a>
                        </section>
                    </div>
            </nav>
            <section>
                <a href="paginaInicial.html">
                    <img id="logoHeader" src="../assets/image/logoCafePorto/logoMax.png" alt="Logo Café do Porto">
                </a>
            </section>
            <section id="navBnt">
                <a href="login.html" type="button" class="btn btn-sm btn-outline-dark">Entrar</a>
                <a href="cadastro.html" type="button" class="btn btn-sm btn-dark">Cadastrar</a>
            </section>
        </header>
        <main class="d-flex flex-column gap-3">
            <header class="d-flex justify-content-between align-content-end border-bottom pb-2 px-2">
                <h4 class="m-0 text-white">Cardápio<span id="TituloPag"></span> </h4>
                <nav class="text-white" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 text-white">
                        <li class="breadcrumb-item text-white"><a href="paginaInicial.html"
                                class="link-light fw-bold"><i class="bi bi-house-fill"></i></a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Cardápio</li>
                    </ol>
                </nav>
            </header>
            <div class="d-flex flex-row gap-3">
                <button type="button" class="btn btn-sm btn-outline-light">Cafés</button>
                <button type="button" class="btn btn-sm btn-outline-light">Clássicos</button>
            </div>
            <h5 class="text-white mb-0">Cafés</h5>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">

                <div class="col">
                    <div class="card cardCardapio   ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="Foto do Café Americano">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Café Americano</h5>
                                    <p class="card-text m-0"><small class="text-dark fw-bold">R$ 15,00</small></p>
                                    <p class="card-text m-0">Espresso suavixado com água quente</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card cardCardapio   ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="Foto do Café com leite">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Café com leite</h5>
                                    <p class="card-text m-0"><small class="text-dark fw-bold">R$ 15,00</small></p>
                                    <p class="card-text m-0">Café preparado em filtro de papel com leite vaporizado</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardCardapio   ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="Foto da Prensa Francesa">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Prensa Francesa</h5>
                                    <p class="card-text m-0"><small class="text-dark fw-bold">R$ 18,00</small></p>
                                    <p class="card-text m-0">Método de preparo que preserna a oleosidade, realcando o
                                        sabor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h5 class="text-white mb-0">Clássicos</h5>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">

                <div class="col">
                    <div class="card cardCardapio   ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="Foto do Café Latte">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Café Latte</h5>
                                    <p class="card-text m-0"><small class="text-dark fw-bold">R$ 15,00</small></p>
                                    <p class="card-text m-0">Espresso, leite vaporizado e espuma de leite</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card cardCardapio   ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="Foto do Flat White">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Flat White</h5>
                                    <p class="card-text m-0"><small class="text-dark fw-bold">R$ 15,00</small></p>
                                    <p class="card-text m-0">Espresso ristretto c/ leite vaporizado</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardCardapio   ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="Foto do Café Mocha">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Café Mocha</h5>
                                    <p class="card-text m-0"><small class="text-dark fw-bold">R$ 18,00</small></p>
                                    <p class="card-text m-0">Calda de chocolate, espresso, leite vaporizado e um toque
                                        de chantilly</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardCardapio   ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Cappuccino Tradicional</h5>
                                    <p class="card-text m-0"><small class="text-dark fw-bold">R$ 18,00</small></p>
                                    <p class="card-text m-0">Espresso c/ leite cremoso</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardCardapio   ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="Foto do Cappuccino Canela">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Cappuccino Canela</h5>
                                    <p class="card-text m-0"><small class="text-dark fw-bold">R$ 18,00</small></p>
                                    <p class="card-text m-0">Espresso, um toque de canela e leite cremoso</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
    <!-- RODAPÉ -->
    <footer>
        <div id="footer" class="row w-100 text-white text-center  ">
            <div class="col-md-6">
                <h5>Café do Porto</h5>
                <section>
                    <a href="paginaInicial.html" class="link-light">Início</a>
                    -
                    <a href="cardapio.html" class="link-light">Menu</a>
                    -
                    <a href="contato.html" class="link-light">Contato</a>
                    -
                    <a href="sobre.html" class="link-light">Sobre</a>
                </section>
            </div>
            <div class="col-md-6 d-flex flex-column ">
                <b>Projeto Integrador II - Fatec tq</b>
                <i>Hugo / João / Samuel / Thais</i>
            </div>
            <div>
    </footer>

    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/script.js"></script>

     <!-- VLIBRAS -->
     <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
     <script>
         new window.VLibras.Widget('https://vlibras.gov.br/app');
     </script>
</body>

</html>