<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - Café do Porto</title>
    <link rel="shortcut icon" href="../assets/image/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-lg py-3 d-flex flex-column gap-2">
        <header id="headerPag" class="navbar shadow py-0">
            <nav class="navbar navbar-expand-lg ">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" tabpaginaInicial="-1"
                    data-bs-target="#navbarResp" aria-controls="navbarResp" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabpaginaInicial="-1" id="navbarResp">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Café do Porto</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column">
                        <nav id="navHeader" class="gap-2">
                            <a class="nav-link" href="paginaInicial.html">Home</a>
                            <a class="nav-link" href="view/cardapio.html">Cardápio</a>
                            <a class="nav-link" href="view/contato.html">Contato</a>
                            <a class="nav-link" href="view/sobre.html">Sobre</a>
                        </nav>
                        <section id="navBnt" class="d-flex flex-column gap-2 d-lg-none">
                            <button type="button" class="btn btn-sm btn-outline-success">Entrar</button>
                            <button type="button" class="btn btn-sm btn-success">Cadastrar</button>
                        </section>
                    </div>
            </nav>
            <section>
                <a href="#">
                    <img id="logoHeader" src="../assets/image/logoCafePorto/logoMax.png" alt="Logo Café do Porto">
                </a>
            </section>
            <section id="navBnt">
                <button type="button" href="view/login.html" class="btn btn-sm btn-outline-success">Entrar</button>
                <button type="button" href="view/cadastro.html" class="btn btn-sm btn-success">Cadastrar</button>
            </section>
        </header>
    </div>    
</body>
</html>