<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre | Café do Porto</title>


    <link rel="apple-touch-icon" sizes="57x57" href="../assets/image/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/image/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/image/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/image/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/image/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/image/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/image/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/image/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/image/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/image/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/image/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/image/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/image/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

</head>

<body>
    <!-- VLIBRAS -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <div class="container-lg py-3 d-flex flex-column gap-3">
        <header id="headerPag" class="navbar shadow py-0">
            <nav class="navbar navbar-expand-lg ">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" tabpaginaInicial="-1"
                    data-bs-target="#navbarResp" aria-controls="navbarResp" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabpaginaInicial="-1" id="navbarResp">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Café do Porto</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column">
                        <nav id="navHeader" class="gap-2">
                            <a class="nav-link" href="paginaInicial.html">Início</a>
                            <a class="nav-link" href="cardapio.html">Cardápio</a>
                            <a class="nav-link" href="contato.html">Contato</a>
                            <a class="nav-link fw-bold" href="sobre.html">Sobre</a>
                        </nav>
                        <section id="navBnt" class="d-flex flex-column gap-2 d-lg-none">
                            <a href="login.html" type="button" class="btn btn-sm btn-outline-dark">Entrar</a>
                            <a href="cadastro.html" type="button" class="btn btn-sm btn-dark">Cadastrar</a>
                        </section>
                    </div>
            </nav>
            <section>
                <a href="paginaInicial.html">
                    <img id="logoHeader" src="../assets/image/logoCafePorto/logoMax.png" alt="Logo Café do Porto">
                </a>
            </section>
            <section id="navBnt">
                <a href="login.html" type="button" class="btn btn-sm btn-outline-dark">Entrar</a>
                <a href="cadastro.html" type="button" class="btn btn-sm btn-dark">Cadastrar</a>
            </section>
        </header>
        <main>
            <header class="d-flex justify-content-between align-content-end border-bottom pb-2 px-2">
                <h4 class="m-0 text-white">Sobre Nós<span id="TituloPag"></span> </h4>
                <nav class="text-white" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 text-white">
                        <li class="breadcrumb-item text-white"><a href="paginaInicial.html"
                                alt="Direciona para a pagina Início" class="link-light fw-bold"><i
                                    class="bi bi-house-fill"></i></a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Sobre Nós</li>
                    </ol>
                </nav>
            </header>
        </main>
        <!-- BANNERS -->
        <div id="bannerSobre" class="bannerSobre">
            <img class="d-lg-block d-none " src="../assets/image/Background/FotoSobre.png" alt="Café gelado">
            <section>
                <h3>Melhor Café da Região</h3>
                <p>Começando com uma pequena cafeteria de esquina em 2000, o Café do Porto tornou-se uma cafeteria de
                    referência na cidade de Holambra - SP com seu visual rústico e sofisticado e seus famosos biscoitos
                    amanteigados!</p>
            </section>
        </div>
        <div id="bannerHistoria" class="bannerSobre">
            <img class="d-lg-block d-none" src="../assets/image/Background/localCafe.png" alt="Iterior da cafeteria">
            <section>
                <h3>Nossa História</h3>
                <p>A família Valtelhas, em 1990, vindo de Porto - PT. Após 10 anos, a matriarca da família, com o
                    pouco dinheiro que tinha, abriu a cafeteria. Com os café mais comuns da cidade natal e os biscoitos
                    favoritos
                    dos netos, ela conquistou o gosto dos brasileiros. </p>
            </section>
        </div>
        <div id="bannerMissao" class="bannerSobre">
            <img class="d-lg-block d-none" src="../assets/image/Background/SobreGrao.png"
                alt="Grãos de café caidos sobre a mesa do lado de uma xícara de café">
            <section>
                <h3>Nosso diferencial</h3>
                <p>Além de um ambiente calmo e bonito, sempre temos o famoso "shot da manhã", nossos pequenos shots do
                    café
                    do dia, para você poder experimentar antes do seu pedido, nossos combos. E o Clube do Porto, o clube
                    que
                    só é beneficial.</p>
            </section>
        </div>

        <div id="banner" class="bannerSobre">
            <img class="d-lg-block d-none" src="../assets/image/Background/SobreMaquina.png"
                alt="Café expresso saindo da maquina e caindo na xícara">
            <section>
                <h3>Nossa Missão</h3>
                <p>É oferecer produtos de qualidade e de sabor único e exclusivo do café do porto. Ser reconhecido pelo
                    cliente não só pelo bom produto, mas pela praticidade e atendimento ao cliente.</p>
            </section>
        </div>

    </div>
    <!-- RODAPÉ -->
    <footer>
        <div id="footer" class="row w-100 text-white text-center  ">
            <div class="col-md-6">
                <h5>Café do Porto</h5>
                <section>
                    <a href="paginaInicial.html" class="link-light">Início</a>
                    -
                    <a href="cardapio.html" class="link-light">Cardápio</a>
                    -
                    <a href="contato.html" class="link-light">Contato</a>
                    -
                    <a href="sobre.html" class="link-light">Sobre</a>
                </section>
            </div>
            <div class="col-md-6 d-flex flex-column ">
                <b>Projeto Integrador II - Fatec tq</b>
                <i>Hugo / João / Samuel / Thais</i>
            </div>
            <div>
    </footer>

    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/script.js"></script>

    <!-- VLIBRAS -->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>

</html>